@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --darkBlue: #2A324B;
    --lightBlue:#58699D;
    --almostWhite:#E1E5EE;
    --white:#fff;

    background-color: var(--almostWhite);    
    font-family: "Roboto", serif;
    font-size: 20px;    
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 55%;                
    margin: 0 auto;    
}

header {
    background-color: var(--almostWhite);
    padding-top: 25vh;
    

    nav {
        display: flex;
        justify-content: space-between;
                

        .tabs {
            padding: 2vh 2.5vw;
            background-color: var(--darkBlue);
            color: var(--white);
            font-weight: 900;
        }

        .tabs.active {
            background-color: var(--white);
            color: var(--darkBlue);
        }

        a {
            text-decoration: none;        
        };
    };    
}


main {

    section {
        padding: 10vh 2.5vw;

        display: flex;
        flex-direction: column;
        gap: 1rem;        
            
        background-color: var(--white);

        #links > li > a {
            color: var(--lightBlue);
        }
        
    }
}